* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  max-width: 1200px;
  margin: 0% auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  position: relative;
  color: white;
  z-index: 0;
  font-size: clamp(1.5rem, 5vw, 3rem);
}

header h1::before,
header h1::after {
  content: '';
  height: 100%;
  display: block;
  position: absolute;
  max-width: 1200px;
}

header h1::before {
  background: black;
  z-index: -1;
  left: max(-20px, -2vw);
  right: max(-20px, -2vw);
}

header h1::after {
  background: white;
  width: 100vw;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -2;
  border-radius: 50px;
}

.project-grid {
  display: grid;
  gap: 2em;
  padding: 2em;
  grid-template-areas:
    'one two'
    'three four'
    'five six';
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: black;
  border: 1px solid white;
}

.project-card::before,
.project-card::after {
  content: '';
  position: absolute;
  inset: clamp(0.5em, 2vw, 1.5em);
}

.project-card::before {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transform: scale(0, 1);
  transition: transform ease-out 400ms;
}

.project-card::after {
  border-left: 1px solid white;
  border-right: 1px solid white;
  transform: scale(1, 0);
  transition: transform ease-out 400ms;
}

.project-card:hover::before {
  transform: scale(1, 1);
}

.project-card:hover::after {
  transform: scale(1, 1);
}

.project-card:hover .project-img {
  opacity: 0.4;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 1;
  transition: opacity ease-out 250ms;
}

.project-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity ease-out 250ms;
}

.project-title {
  font-size: clamp(1.25rem, 5vw, 2.5rem);
}

.project-description {
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}

.project-card:hover .project-text {
  opacity: 1;
}

#project-card-1 {
  grid-area: one;
}
#project-card-2 {
  grid-area: two;
}
#project-card-3 {
  grid-area: three;
}
#project-card-4 {
  grid-area: four;
}
#project-card-5 {
  grid-area: five;
}
#project-card-6 {
  grid-area: six;
}
